<meta name="viewport" content="width=device-width, initial-scale=1.0">
<center>
<body style="background-color:#212121 ;">
<br />
<div class="redtext3">
    <%= flash[:notice].try(:html_safe) %>
</div>
<br />
<h2 class= "greentext2">Enter room ID and password:</h2>
<br />
<%= form_for :form do |f| %>
  <p class= "greentext3">Room ID:<%= f.text_field :room_id, :class => 'input3' %></p>
  <br />
  <p class= "greentext3">Password:<%= f.text_field :password, :class => 'input3' %></p>  
  <br />
  <%= f.submit 'Join Room', class: 'button2' %>
<% end %>
<br />
<h1><%= button_to "Home", user_path(@user), method: :get, :class => "button3" %></h1>
</center>
