<center>
<br />
<h1>Hello, <%= @user.name %>.</h1>
<br />
<h2><%= link_to "Create a Room", new_room_path(creator_id: @user.id) %></h2>
<br />
<h2><%= link_to "Join a Room", join_room_path %></h2>
<br />
<h2><%= link_to "Logout", logout_path %></h2>
<br />
<% if !(@user.valid_rooms.empty?) %>
    <h3>Your Rooms:</h3>
    <br />
    <br />
    <% for room_id in @user.valid_rooms %>
        <%= link_to "[Room #{room_id}]", room_path(room_id, :user_id => @user.id) %>
        <br />
    <% end %>
<% end %>
</center>