<meta name="viewport" content="width=device-width, initial-scale=1.0">
<center>
<body style="background-color:#212121 ;">
<br />
<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.hidden_field :creator_id %>
      <%= f.input :playlist_name, label: 'Group Name: ', label_html: { class: 'label2' },  input_html: { class: 'input2' } %>
      <%= f.input :password, label: 'Password: ', label_html: { class: 'label2' }, input_html: { class: 'input2' } %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <br />
      <%= f.button :submit, 'Create Room', :class => "button2" %>
    </div>
  </div>
<% end %>
<br />
<h1><%= button_to "Home", user_path(@room.creator_id), method: :get, :class => "button3" %></h1>
</center>
