<center>
<br />
<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.hidden_field :creator_id %>
      <%= f.input :playlist_name, label: 'Room & Playlist Name: ' %>
      <%= f.input :password, label: 'Room Password: ' %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <br />
      <%= f.button :submit, 'Create Room' %>
    </div>
  </div>
<% end %>
<br />
<%= link_to "Home", user_path(@room.creator_id) %>
</center>
