<center>
<br />
<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.hidden_field :creator_id %>
      <%= f.input :password, label_html: { class: 'active' } %>
      <%= f.collection_check_boxes :creator_playlists, RSpotify::User.new(User.find(@room.creator_id).user_hash).playlists, :id, :name %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.button :submit, 'Create Room' %>
    </div>
  </div>
<% end %>
</center>
