<br />
<h1>Your playlist has been downloaded!</h1>
<br />
<h2>Final Playlist:</h2>
<% @playlist_songs.each do |track| %>
  <%= track.name %><br />
<% end %>
<br />
<%= @common_tracks %>
<br />
<%= @top_artist_selection %>
<br />
<%= @collabs_found %>
<br />
<%= @top_genre_selection %>
<br />
<%= @top_genres %>