<center>
<br />
<h1>Room ID: <%= @room.id %></h1>
Room Password: <%= @room.password %>
<h2>Users in this Room:</h2>
<% @users.each do |user| %>
  <%= user.name %><br />
<% end %>
<br />
<h2>Selected Playlists:</h2>
<% @user_room_relations.each do |urr| %>
  <h3><%= urr.user.name %>:</h3><br />
  <% @user_tracks_dict[urr.user.id].each do |name| %>
      <%= name %><br />
  <% end %>
  <br />
<% end %>
<br />
<%= link_to 'Generate Playlist', "javascript:show_slow_warning()", room_playlist_path(@room.id, user_id: @user_id) %>
<br />
<%= link_to 'Leave Room', room_leave_path(@room.id, user_id: @user_id) %>
<br />
<%= link_to "Home", user_path(@user_id) %>
</center>
<div id="slow_warning" style="display:none">
  Loading...
</div>

