<center>
<%= flash[:notice].try(:html_safe) %>
<br />
<h1>Room ID: <%= @room.id %></h1>
Room Password: <%= @room.password %>
<h2>Users in this Room:</h2>
<% @users.each do |user| %>
  <%= user.name %><br />
<% end %>
<br />
<h2>Selected Playlists:</h2>
<% @user_room_relations.each do |urr| %>
  <h3><%= urr.user.name %>:</h3><br />
  <% urr.selected_playlists.drop(1).each do |playlist| %>
    <% begin %>
      <%= RSpotify::Playlist.find_by_id(playlist).name %><br />
    <% rescue Exception => exc %>
      <%= flash[:notice] = "Some of the playlists could not be read." %><br />
    <% end %>
  <% end %>
  <br />
<% end %>
<br />
<%= link_to 'Generate Playlist', room_playlist_path(@room.id, user_id: @user_id) %>
<br />
<%= link_to 'Leave Room', room_leave_path(@room.id, user_id: @user_id) %>
</center>

