<center>
<br />
<%= simple_form_for(@user_room_relation) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :room_id %>
      <%= f.hidden_field :playlist_names %>
      <br />
      <b>Select Playlists:</b>
      <br />
      <%= f.collection_check_boxes :selected_playlists, @playlists, :id, :name %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <br />
      <%= f.button :submit , 'Join Room'%>
    </div>
  </div>
<% end %>
</center>