<center>
<br />
<%= simple_form_for(@user_room_relation) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.hidden_field :user_id %>
      <%= f.input :room_id, label_html: { class: 'active' } %>
      <%= f.collection_check_boxes :selected_playlists, RSpotify::User.new(User.find(@user_room_relation.user_id).user_hash).playlists, :id, :name %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.button :submit , 'Join Room'%>
    </div>
  </div>
<% end %>
</center>